body{
  font-family: $lato;
}

h1{
  font-size: $xx-large;
  font-weight: $letra_black;
  color: $cv_black;
}

h2{
  font-size: $x-large;
  font-weight: $letra_bold;
}

h3{
  font-size: $large;
  font-weight: $letra_bold;
  color: red;
}
