//colors
$cv_green: #7CEA9C;
$cv_blue: #2D3047;
$cv_black: #071013;
$cv_white: #fff;

//fonts
$lato: 'Lato', sans-serif;

//weight
$letra_light: 300;
$letra_regular: 400;
$letra_bold: 700;
$letra_black: 900;

//size
$xx-large: 70px;
$x-large: 50px;
$large: 30px;
$medium: 20px;
$normal: 18px;
