//colors
$cv_green: #7CEA9C;
$cv_blue: #2D3047;
$cv_black: #071013;
$cv_white: #fff;
$cv_silver: #C0C0C0;

//fonts
$lato: 'Lato', sans-serif;

//weight
$letra_light: 300;
$letra_regular: 400;
$letra_bold: 700;
$letra_black: 900;

// $cv_vw: 1vw;

@media only screen and (max-width: 992px){
  //size
  $xx-large: 10vw;
  $x-large: 3.5vw;
  $large: 2vw;
  $medium: 1.4vw;
  $normal: 1.2vw;
}

@media only screen and (min-width: 992px){
  //size
  $xx-large: 5vw;
  $x-large: 3.5vw;
  $large: 2vw;
  $medium: 1.4vw;
  $normal: 1.2vw;
}
